/***************************** nav and head section ********************************/
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body, footer{
  margin: 0;
  padding: 0;
}

.navbar{
  padding: 2rem;
  background: #ffffff;
}

.nav-btn{
  border-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
}

.nav-btn:hover, .nav-btn:active, .nav-btn:focus{
  border-color: hsl(321, 100%, 78%) !important;
  color: hsl(321, 100%, 78%) !important;
  cursor: pointer;
}

.heading-section, .image-section, .build-section{
  padding: 7%;
  text-align: center;
}

.margin1{
  margin: 1rem 0;
}

.heading-para{
  margin-left: 33%;
  margin-right: 33%;
}

.heading-section, .image-section, .communities-section, .center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-btn{
  padding: 1rem 3rem;
  background: hsl(322, 100%, 66%);
  color: #fff;
  font-weight: 700;
}

.heading-btn:hover, .heading-btn:active, .heading-btn:focus, .subscribe-btn:hover, .subscribe-btn:active, .subscribe-btn:focus{
  background: hsl(321, 100%, 78%) !important;
  color: #fff !important;
}

h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.mobile{
  display: none;
}

.screen-image{
  width: 70%;
}

.human-icons{
  width: 50%;
}

.communities-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.communities-heading{
  font-size: 4rem;
}

.communities-para{
  font-size: 1.2rem;
  font-weight: 600;
  color: #999ea2;
}
/********************************** curve sections *************************************/
.background{
  width: 100%;
  margin: 0;
}

.bg-row{
  height: 14rem;
}

.blue-row{
  background: #f6fbff;
  padding: 3rem 0;
}

.grow-together{
  padding: 7% 17%;
}

.no-bg{
  margin: 6rem 0;
}

/************************************* footer ************************************/
.green-row{
  background: hsl(192, 100%, 9%);
}

footer{
  color: #fff;
  font-size: 14px;
}

.text-div{
  padding: 0 5%;
}

.footer-para{
  margin-right: 44%;
}

.margin-right{
  margin-right: 1rem;
}

.margin-top{
  margin-top: 1rem;
}

input{
  border-style: none;
  border-radius: 2px;
  width: 20rem;
  height: 2.4rem;
}

.input-error{
    outline: none;
    border: thin solid red;
}

.mobile1{
  display: none;
}

.error{
  display: none;
  color: hsl(0, 100%, 63%);
  font-size: 14px;
}

.subscribe-btn{
  padding-left: 1rem;
  padding-right: 1rem;
  background: hsl(322, 100%, 66%);
  color: #fff;
  height: 2.4rem;
}

/********************************* curve section background ***********************************/
.top-desktop1{
  background-image: url(images/bg-section-top-desktop-1.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bottom-desktop1{
  background-image: url(images/bg-section-bottom-desktop-1.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.top-desktop2{
  background-image: url(images/bg-section-top-desktop-2.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bottom-desktop2{
  background-image: url(images/bg-section-bottom-desktop-2.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.footer-desktop{
  background-image: url(images/bg-footer-top-desktop.svg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/*************************** media queries *********************************/
@media (max-width: 1024px) {
  .heading-para{
    margin-left: 25%;
    margin-right: 25%;
  }

  .grow-together{
    padding: 7% 10%;
  }

  .footer-para{
    margin-right: 20%;
  }

  input{
    width: 16rem;
  }

  .human-icons{
    width: 60%;
  }
}

@media (max-width: 768px) {
  .heading-para{
    margin-left: 20%;
    margin-right: 20%;
  }

  .grow-together{
    padding: 7% 0 7% 10%;
  }

  .footer-para{
    margin-right: 15%;
  }

  input{
    width: 100%;
    display: block;
  }

  .human-icons{
    width: 70%;
  }

  .subscribe-btn{
    display: flex;
    position: absolute;
    right: 2.3rem;
    margin: 1rem 0 2rem;
  }
}

@media (max-width: 450px) {
  .navbar-brand{
    width: 30%;
  }

  .nav-btn{
    padding: 0.2rem 1.2rem !important;
  }

  .mobile{
    display: flex;
  }

  .desktop{
    display: none;
  }

  .heading-section, .image-section, .build-section{
    padding: 13% 5%;
  }

  .heading-para{
    margin-left: 5%;
    margin-right: 5%;
  }

  .heading-btn{
    padding: 0.5rem 2rem;
  }

  .communities-section{
    margin: 1rem 0;
  }

  .bg-row{
    height: 8rem;
  }

  .grow-together{
    text-align: center;
  }

  .mobile1{
    display: block;
  }

  .footer-icon{
    width: 60%;
  }

  .footer-para{
    margin-right: 0;
  }

  .text-div{
    margin: 2rem 0;
  }

  .subscribe-btn{
    display: flex;
    position: absolute;
    right: 1.4rem;
  }

  .top-desktop1{
    background-image: url(images/bg-section-top-mobile-1.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .bottom-desktop1{
    background-image: url(images/bg-section-bottom-mobile-1.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .top-desktop2{
    background-image: url(images/bg-section-top-mobile-2.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .bottom-desktop2{
    background-image: url(images/bg-section-bottom-mobile-2.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .footer-desktop{
    background-image: url(images/bg-footer-top-mobile.svg);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}
